$primary-font-family: 'Lato';
$secondary-font-family: 'Merriweather Sans';
$secondary-serif-font-family: 'Merriweather';
$helvetica     : 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$verdana: 'Verdana', 'Geneva', 'sans-serif';

$white: #f9f9f9;
$black: #212121;